.searchbar{
    display: flex;
    justify-content: center;
}
.form{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    gap: 20px;
}
.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: rgb(240, 0, 0);
    font-weight: 700;
    font-size: 14px;
    border-color: black;
    background-color: rgb(174, 175, 175);
}
.input{
    cursor: text;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    background-color: rgb(147, 205, 231);
    border-radius: 50px;
    color: black;
    font-weight: 700;
    font-size: 24px;
}